body {
  font-family: "Roboto", "sans-serif"; }

.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  padding: 20px;
  color: white; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

/* Intro Page */
.IntroPage-ct {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 100px; }

.MacroOptions {
  display: flex;
  justify-content: center; }

/**************/
.item-card {
  width: 350px;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 15px;
  margin-top: 5px; }

.item-cat {
  padding: 30px 5%;
  border-bottom: 1px solid #ccc; }
  .item-cat:last-child {
    border-bottom: none; }

.item-list {
  overflow-x: auto;
  white-space: nowrap; }

.item-cat-name {
  font-size: 2em;
  letter-spacing: 1px;
  padding-bottom: 10px;
  text-transform: uppercase; }

.item-card-name {
  padding: 0 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: default;
  font-size: 1em !important; }

.item-chart {
  width: 60%;
  margin: 0 auto; }
