@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

body {
  font-family: "Roboto", "sans-serif";
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* Intro Page */
.IntroPage-ct {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top:100px;
}


.MacroOptions {
  display: flex;
  justify-content: center;
}
/**************/

.item-card {
  width: 300px;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 15px;
  margin-top: 5px;
}

.item-cat {
  padding: 30px 5%;
  border-bottom: 1px solid #ccc;
  //background: #ddd;
  &:last-child {
    border-bottom: none;
  }
}

.card-box {
  padding:2px;
  display: border-box;
}

.slick-prev:before, .slick-next:before {
  color: #333;
}

.item-cat-name, .total-title {
  font-size: 2em;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: left;
  margin-bottom:20px;

  &:after {
    content: "";
    display: block;
    height: 5px;
    width: 30px;
  }
}

.item-cat-name {
  color: #333;
  &:after{
    background-color: #333;
  }
}

.item-card-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: default;

}

.item-chart {
  width: 60%;
  margin: 0 auto;
}

.item-chart-total {
  display: flex;
  flex-direction: row;
  align-items: center; 
}

#total-chart {
  max-width: 500px;
  max-height: 500px;
  margin-right: 50px;
  padding: 20px 0;
}

.meal-total {
  background-color: #4b7986;
  padding: 30px 5%;
  color: #fefefe;
}

.total-title:after {
  background-color: #fefefe;
}

#visualDist {
  width: 50%;
  height: 25px;
  margin: 10px auto;
  border: 1px solid black;
}

.overview {
  text-align: start;
}

@media screen and (max-width: 1050px) {
  .item-card {
    width: 250px;
  }
}

@media screen and (max-width: 950px) {
  #total-chart {
    max-width: 350px;
    max-height: 350px;
  }
}

@media screen and (max-width: 750px) {
  #total-chart {
    max-width: 400px;
    max-height: 400px;
    margin-right: 0;
    margin-bottom: 30px;
  }

  .overview {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row wrap;

    & div {
      width: 45%;
    }
  }
  
  .item-chart-total {
    flex-direction: column;
  }
}

@media screen and (max-width: 675px) {
  .item-card {
    width: 400px;
  }
  
}